@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<CompanyViewModel>

<div class="d-flex justify-content-end">
    <a class="btn btn-primary mb-3" href="@Url.Action("Create", "Company")"> إضافة شركة <b>+</b></a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> إسم الشركه</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CompanyViewModel company in Model)
        {
            <tr class="table-active">
                <td>@company.CompanyName</td>
            </tr>
        }

    </tbody>
</table>
