@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<CompanyServiceViewModel>


<div class="d-flex justify-content-end">
    <a class="btn btn-primary mb-3" href="@Url.Action("Create", "CompanyService")"> إضافة خدمة لشركة <b>+</b></a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"> إسم الشركه</th>
            <th scope="col"> إسم الخدمة</th>
            <th scope="col">  سعر الخدمة</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CompanyServiceViewModel companyService in Model)
        {
            <tr class="table-active">
                <td>@companyService.CompanyName</td>
                <td>@companyService.ServiceName</td>
                <td>@companyService.ServicePrice</td>
            </tr>
        }

    </tbody>
</table>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-secondary">5</button>
    <button type="button" class="btn btn-secondary">6</button>
    <button type="button" class="btn btn-secondary">7</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-secondary">8</button>
  </div>
</div>

